<div class="social-icons">
    <ul>
        <li>
            <a href="https://discord.com/invite/nZZrUMXUsS" class="icon" target="_blank" rel="noopener" aria-label="GitHub">
                <img src="/images/icons/discord.svg" class="icon" alt="Discord" />
            </a>
        </li>
        <li>
            <a href="https://www.patreon.com/c/castlelorestudios" class="icon" target="_blank" rel="noopener" aria-label="Patreon">
                <img src="/images/icons/patreon.svg" class="icon" alt="Patreon" />
            </a>
        </li>
        <li>
            <a href="https://www.tiktok.com/@castlelorestudios/" class="icon" target="_blank" rel="noopener" aria-label="TikTok">
                <img src="/images/icons/tiktok.svg" class="icon" alt="TikTok" />
            </a>
        </li>
        <li>
            <a href="https://www.instagram.com/castlelore/" class="icon" target="_blank" rel="noopener" aria-label="Instagram">
                <img src="/images/icons/instagram.svg" class="icon" alt="Instagram" />
            </a>
        </li>
        <li>
            <a href="https://facebook.com/castlelore" class="icon" target="_blank" rel="noopener" aria-label="Facebook">
                <img src="/images/icons/facebook.svg" class="icon" alt="Facebook" />
            </a>
        </li>
        <li>
            <a href="https://www.threads.com/@castlelore" class="icon" target="_blank" rel="noopener" aria-label="Threads">
                <img src="/images/icons/threads.svg" class="icon" alt="Threads" />
            </a>
        </li>
        <li>
            <a href="https://bsky.app/profile/castlelorestudios.com" class="icon" target="_blank" rel="noopener"
                aria-label="BlueSky">
                <img src="/images/icons/bluesky.svg" class="icon" alt="BlueSky" />
            </a>
        </li>
        <li>
            <a href="https://x.com/CastleloreSt" class="icon" target="_blank" rel="noopener" aria-label="Twitter">
                <img src="/images/icons/twitter.svg" class="icon" alt="Twitter" />
            </a>
        </li>
        <li>
            <a href="https://www.youtube.com/@castlelorestudios" class="icon" target="_blank" rel="noopener" aria-label="YouTube">
                <img src="/images/icons/youtube.svg" class="icon" alt="YouTube" />
            </a>
        </li>
    </ul>
</div>