<div id="header" style=" display: inline-flex; position: relative; width: 100%; height: 128px; background-color: #333;">

<div id="headerlogo" style="position: relative; width: 100%; height: 64px; background-color: #333; text-align: left;">
    <img style="position: absolute; top:24px; left: 32px" src="/images/LogoWhite.png" alt="peace dove" />
</div>

<div id="headersocial" style="position: relative; width: 100%; height: 64px; background-color: #333; text-align: left;">
    {{ partial "social-icons.html" . }}
</div>

</div>

