<ul class="social-icons">

    <li>
        <a href="https://discord.com/invite/nZZrUMXUsS" target="_blank" rel="noopener" aria-label="GitHub">
            <img src="/images/icons/discord.svg" alt="Discord" />
        </a>
    </li>
    <li>
        <a href="https://www.instagram.com/castlelore/" target="_blank" rel="noopener" aria-label="Instagram">
            <img src="/images/icons/instagram.svg" alt="Instagram" />
        </a>
    </li>
    <li>
        <a href="https://facebook.com/castlelore" target="_blank" rel="noopener" aria-label="Facebook">
            <img src="/images/icons/facebook.svg" alt="Facebook" />
        </a>
    </li>

    <li>
        <a href="https://bsky.app/profile/castlelorestudios.com" target="_blank" rel="noopener" aria-label="BlueSky">
            <img src="/images/icons/bluesky.svg" alt="BlueSky" />
        </a>
    </li>
    <li>
        <a href="https://x.com/CastleloreSt" target="_blank" rel="noopener" aria-label="Twitter">
            <img src="/images/icons/twitter.svg" alt="Twitter" />
        </a>
    </li>
    <li>
        <a href="https://www.youtube.com/@castlelorestudios" target="_blank" rel="noopener" aria-label="YouTube">
            <img src="/images/icons/youtube.svg" alt="YouTube" />
        </a>
    </li>
</ul>
