<div>
    <iframe src="https://widgets.gamejolt.com/package/v1?key=RkxzrD7q" frameborder="0" width="500"
        height="245"></iframe>
    <iframe width="600" height="180" src="https://www.indiedb.com/games/xoru-the-nightmare-wars/widget"
        frameborder="0"></iframe><br><a href="https://www.indiedb.com/games/xoru-the-nightmare-wars">Xoru: The Nightmare
        Wars Demo game - IndieDB</a>
    <iframe src="https://store.steampowered.com/widget/3431270/" frameborder="0" width="100%" height="100%"></iframe>
    <iframe frameborder="0"
        src="https://itch.io/embed/3199147?bg_color=222222&amp;fg_color=eeeeee&amp;link_color=b92ed8&amp;border_color=363636"
        width="100%" height="100%"><a href="https://castlelorestudios.itch.io/xoru-nightmare-wars">Xoru: Nightmare Wars
            Demo by Castlelore Studios LLC</a></iframe>
</div>
